<template>
  <div class="home">
    <md-app class="mdApp">
      <md-app-drawer md-permanent="full">
        <span class="md-list-item-text">Score : {{ score }}</span>
        <span class="md-list-item-text"
          >WordAmelioration : {{ scoreToIncrease }}</span
        >
        <md-content id="ameliorations" class="md-scrollbar">
          <div v-for="(amelioration, index) in this.ameliorations" :key="index">
            <Amelioration
              v-bind:image="amelioration.image"
              v-bind:description="amelioration.description"
              v-bind:name="amelioration.name"
              v-bind:cost="amelioration.cost"
              v-bind:level="amelioration.level"
              @clickAmelioration="buyAmelioration(index)"
            />
          </div>
        </md-content>
        <md-content id="producteurs" class="md-scrollbar">
          <div v-for="(amelioration, index) in this.ameliorations" :key="index">
            <Amelioration
              v-bind:image="amelioration.image"
              v-bind:description="amelioration.description"
              v-bind:name="amelioration.name"
              v-bind:cost="amelioration.cost"
              v-bind:level="amelioration.level"
              @clickAmelioration="buyAmelioration(index)"
            />
          </div>
        </md-content>
      </md-app-drawer>
      <md-app-content>
        <div>
          <Clicker name="Welcome to Your Vue.js App" />
        </div>
      </md-app-content>
    </md-app>
  </div>
</template>

<script>
// @ is an alias to /src
import Clicker from "@/components/Clicker.vue";
import Amelioration from "@/components/Amelioration.vue";
import { mapState } from "vuex";
import { mapActions } from "vuex";
import { mapGetters } from "vuex";

export default {
  name: "Home",
  computed: {
    ...mapState(["score", "wordAmelioration", "ameliorations"]),
    ...mapGetters(["scoreToIncrease"]),
  },
  components: {
    Clicker,
    Amelioration,
  },
  data: () => ({
    Image,
  }),
  methods: {
    ...mapActions(["buyAmeliorationStore"]),
    buyAmelioration(index) {
      let amelioration = this.ameliorations[index];
      if (this.score >= amelioration.cost) {
        this.buyAmeliorationStore({ amountLevel: 1, index: index });
      }
    },
  },
};
</script>

<style scoped>
.home {
  height: 100vh;
}

.mdApp {
  height: 100vh;
}

#ameliorations {
  height: 10vh;
  overflow: auto;
  margin-bottom: 1vh;
}
</style>
