<template>
  <div @click="emitClick">
    <div class="md-layout">
      <div class="md-layout-item md-size-40">
        <img class="amel-image" :src="require('@/assets/' + image + '')" />
      </div>
      <div class="text md-layout-item md-size-55">
        <div class="name">{{ name + " lvl. " + level }}</div>
        <md-divider></md-divider>
        <div class="description">
          {{ description }}
        </div>
        <md-divider></md-divider>
        <div class="cost">cost: {{ cost }}</div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "Amelioration",
  props: {
    image: String,
    description: String,
    name: String,
    moneyType: Number,
    cost: Number,
    level: Number,
  },
  methods: {
    ...mapActions(["updateWordAmelioration", "updateScore"]),
    buyAmelioration() {
      if (this.score >= parseInt(this.data.cost)) {
        this.updateScore(-parseInt(this.cost));
        this.updateWordAmelioration(1);
        this.data.cost = (parseInt(this.data.cost) * 3).toString();
      }
    },
    emitClick() {
      this.$emit("clickAmelioration");
    },
  },
};
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.md-layout {
  border: 1px solid grey;
}

.md-layout-item {
  margin-right: 2px;
}
</style>
