<template>
  <div class="cadre-click">
    <p>{{ name }}</p>
    <div class="clicker">
      <img
        @click="clickerClick"
        @dragstart="clickerDragStrat($event)"
        id="clickObject"
        src="@/assets/pixel_books-1245690_1920.png"
      />
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import { mapGetters } from "vuex";
//import Image from "@/assets/pixel_books-1245690_1920.png";

export default {
  name: "Clicker",
  computed: {
    ...mapGetters(["scoreToIncrease"]),
  },
  props: {
    name: String,
  },
  methods: {
    ...mapActions(["updateScore"]),
    clickerClick() {
      this.updateScore(this.scoreToIncrease);
    },
    clickerDragStrat(evt) {
      //this.clickerClick();
      evt.stopPropagation();
      evt.preventDefault();
      return false;
    },
  },
};
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#clickObject {
  cursor: url("https://cur.cursors-4u.net/cursors/cur-11/cur1046.cur"), auto !important;
  height: 30%;
  width: 30%;
}
</style>
