<template>
  <div id="app">
    <md-tabs id="tabBar" md-sync-route>
      <md-tab
        id="tab-ext"
        md-label="Extend"
        v-if="canExtend"
        @click="extendMenu"
      ></md-tab>
      <md-tab
        id="tab-ext"
        md-label="Unextend"
        v-if="!canExtend"
        @click="extendMenu"
      ></md-tab>
      <md-tab id="tab-home" md-label="Home" to="/home"></md-tab>
      <md-tab id="tab-pages" md-label="About" to="/about"></md-tab>
    </md-tabs>
    <router-view />
  </div>
</template>

<script>
export default {
  data: () => ({
    canExtend: true,
  }),
  methods: {
    extendMenu() {
      this.canExtend = !this.canExtend;
      let drawer = document.getElementsByClassName("md-drawer")[0];
      !this.canExtend
        ? (drawer.style.width = "500px")
        : (drawer.style.width = "230px");
    },
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100vh;
}

.md-drawer {
  width: 230px;
  max-width: calc(100vw - 125px);
}
</style>
